<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/assinatura.css">
    <link rel="stylesheet" href="../static/styles/assinatura-mediaquery.css">
    <link rel="shortcut icon" href="../static/images/favicon-dumbbell.ico" type="image/x-icon">
    <title>Assinatura | Treina Aí</title>
</head>
<body>
    <section id="container">
        <section id="assinatura">
            <div id="titulo">
                <h1>Opções de assinatura</h1>
            </div>
            <div id="content">
                <!-- <div class="tempo">
                    <span>Mensal</span>
                    <span>Semestral</span>
                    <span>Anual</span>
                </div>
                <div class="preco">
                    <span>49,99R$</span>
                    <span>152,99R$</span>
                    <span>273,99R$</span>
                </div>
                <div class="botoes">
                    <input type="submit" value="Assinar">
                    <input type="submit" value="Assinar">
                    <input type="submit" value="Assinar">
                </div> -->
                <span class="titulo">Mensal</span>
                <span class="preco">49,99R$</span>
                <input type="submit" class="botao" value="Assinar">
                
                <span class="titulo">Semestral</span>
                <span class="preco">152,99R$</span>
                <input type="submit" class="botao" value="Assinar">

                <span class="titulo">Anual</span>
                <span class="preco">273,99R$</span>
                <input type="submit" class="botao" value="Assinar">
            </div>
        </section>
    </section>
</body>
</html>