<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/login.css"> 
    <link rel="stylesheet" href="../static/styles/mediaquery-login.css">
    <link rel="shortcut icon" href="../static/images/favicon-dumbbell.ico" type="image/x-icon">
    <title>Entrar | Treina Aí</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == "error" %}
                <div class="mensagem erro">
                    {{ message }}
                    <button type="button" class="close" onclick="fecharMensagem(this)">
                        &times;
                    </button>
                </div>
            {% else %}
                <div class="mensagem sucesso">
                    {{ message }}
                    <button type="button" class="close" onclick="fecharMensagem(this)">
                        &times;
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}
    <main>
        <section id="login">
            <div id="titulo">
            </div>
            <div id="form">
                <div id="content">
                    <form method="post" autocomplete="on">
                        <div class="campo">
                            <label for="iemail">Email:</label>
                            <input name="email" type="email" id="iemail" autocomplete="email" placeholder="seuemail@gmail.com" required minlength="5" required maxlength="50">
                        </div>
                        <div class="campo">
                            <label for="isenha">Senha:</label>
                            <input name="senha" type="password" id="isenha"  placeholder="Senha" autocomplete="current-password" required minlength="8" required maxlength="50">
                        </div>
                        <div class="checkbox">
                            <input name="lembrar" type="checkbox" id="icheck">
                            <label for="icheck" style="font-size: 0.8em;">Lembrar de mim</label>
                        </div>
                        <div id="botoes">
                            <input type="submit" class="botao" value="Entrar">
                            <a href="{{ url_for('auth.sign_up') }}" class="botao">Inscreva-se</a>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <!-- <script src="{{ url_for('static', filename='scripts/script.js') }}"></script> -->
    <script src="../static/scripts/script.js"></script>
</body>
</html>