<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título padrão{% endblock %}</title>
    <link rel="stylesheet" href="../../static/styles/produto.css">
    <link rel="stylesheet" href="../../static/styles/mediaquery-produto.css">
    <link rel="shortcut icon" href="../../static/images/favicon-dumbbell.ico" type="image/x-icon">
</head>
<body>
    <header>
        <div></div>
    </header>
    <main>
        <section id="produto">
            <div id="imagem">
                <img src="../../static/images/whey.png" alt="Whey Protein">
            </div>
            <div id="info">
                <div id="nome">
                    <h2>{% block nome %}Nome{% endblock %}</h2>
                </div>
                <div id="valor">
                    <span>{% block valor %}R$00,00{% endblock %}</span>
                    <p>{% block valor_parcelado %}em até 0x de R$00,00 sem juros{% endblock %}</p>
                </div>
                <div id="form">
                    <form action="">
                        <input type="submit" value="Comprar">
                    </form>
                </div>
                <hr>
                <div id="descricao">
                    <h3>Descrição do produto</h3>
                    <p>{% block descricao %}Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia reiciendis vitae voluptatum, quisquam, dignissimos veniam iure repellat nisi harum doloremque a dolorem ducimus, fugiat dolor ab est! Praesentium, velit officia.{% endblock %}</p>
                </div>
            </div>
        </section>
    </main>
    <footer id="rodape">
        <p>Treina.Aí &#169; 2025 - todos os direitos reservados  
            <br>
            <br>
            Treina.Aí S.A
            <br>
            CNPJ: 99.999.999/0001-51
            <br>
            Endereço: Avenida Aguaçu, 079
        </p>
        <img src="../../static/images/logo4.svg" alt="logo Treina Aí">
    </footer>
</body>
</html>