<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creatina</title>
    <link rel="stylesheet" href="../../static/styles/produto.css">
    <link rel="stylesheet" href="../../static/styles/mediaquery-produto.css">
    <link rel="shortcut icon" href="../../static/images/favicon-dumbbell.ico" type="image/x-icon">
</head>
<body>
    <header>
        <a href="{{ url_for('views.home') }}">
            <div></div>
        </a>
    </header>
    <main>
        <section id="produto">
            <div id="imagem">
                <img src="../../static/images/creatina.jpg" alt="Creatina">
            </div>
            <div id="info">
                <div id="nome">
                    <h2>Creatina 300g</h2>
                </div>
                <div id="valor">
                    <span><del style="color: red;">R$62,99</del> R$50,39</span>
                    <p>em até 2x R$31,45 sem juros</p>
                </div>
                <div id="form">
                    <form action="">
                        <input type="submit" value="Comprar">
                    </form>
                </div>
                <hr>
                <div id="descricao">
                    <h3>Descrição do produto</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, facere ipsam voluptatem officiis dicta ratione quasi quisquam labore unde fugiat ipsum veritatis explicabo libero voluptates, rerum ipsa optio accusamus soluta.</p>
                </div>
            </div>
        </section>
    </main>
    <footer id="rodape">
        <p>Treina.Aí &#169; 2025 - todos os direitos reservados  
            <br>
            <br>
            Treina.Aí S.A
            <br>
            CNPJ: 99.999.999/0001-51
            <br>
            Endereço: Avenida Aguaçu, 079
        </p>
        <img src="../../static/images/logo4.svg" alt="logo Treina Aí">
    </footer>
</body>
</html>