<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ usuario.nome }} | Admin</title>
    <style>
        p {
            margin: 0;
        }
    </style>
</head>
<body>
    <h2>{{ usuario.nome }}</h2>
    <h3>Informações da conta</h3>
    <p>{% if usuario.admin == true %} <em>Administrador</em> {% else %} Usuário {% endif %}</p>
    <p>Email: {{ usuario.email }}</p>
    <p>{{ usuario.pontos }} pontos</p>
    <form method="post" action="{{ url_for('admin.excluir_usuario', id=usuario.id)}}" style="display: inline;">
        <button type="submit" onclick="return confirm('Tem certeza que quer excluir esse usuário?')">Excluir usuário</button>
    </form>
    
    <h3>Tarefas</h3>
    {% for tarefa in usuario.tarefas %}
    <li>
        <strong>{{ tarefa.modelo.titulo }}</strong>
        <a href="{{ url_for('admin.excluir_tarefa', id=tarefa.id) }}">Excluir tarefa</a>
    </li>
    {% endfor %}
    <a href="{{ url_for('admin.atribuir_tarefa', id=usuario.id) }}">Atribuir tarefa</a>
</body>
</html>