@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 998px){
    header div{
        background-size: 85%;
    }
}
@media screen and (min-width: 999px){
    header div{
        background-size: 50%;
    }
    #produto{
        display: flex;
        gap: 20px;
        align-items: flex-start;
        font-size: 1.2em;
    }
    #imagem{
        flex: 0 1 40%;
    }
    img{
        width: 100%;
        height: 100%;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
    }
    #info{
        flex: 1 1 60%;
    }
    #nome{
        margin: 20px 0px 40px 0px;
    }
    #valor{
        margin-bottom: 40px;
    }
    #form{
        margin-bottom: 40px;
    }
    #descricao{
        margin-top: 20px;
    }
}