Body{
    background-color: black;
}
p, h1, h2,h3,p,nav,td,th,li{
    color:white;
}
.nome input{
    width: 60%;
    height: 50px;
}
.nome button{
    width: 20%;
    height: 50px;
}
.email input{
    width: 60%;
    height: 50px;
}
.email button{
    width: 20%;
    height: 50px;
}
.tel input{
    width: 60%;
    height: 50px;
}
.tel button{
    width: 20%;
    height: 50px;
}
