body{
    background-color: black;
    height: 100vh;
    width: 100vw;
}
h1{
    color: white;
}
img{
    display: block;
    margin: auto;
}
button{
    display: block;
    margin: auto;
    height: 10vh;
    width: 50vw;
}
